{% extends "base.html.twig" %}

{% block body %}
    {% for trip in trips %}
        
        {% if trip.image %}
            <div class="row">
                <div class="col-6"><img src="{{asset('img/'~ trip.image) }}" alt="image de test" class="img-fluid"></div>
                <div class="col-6">
                    <p>"{{ trip.poetry }}"</p>
                    <p>{{ trip.author }}</p>
                </div>
            </div>
        {% endif %}

    {% endfor %}
{% endblock %}
