{% extends "base.html.twig" %}

{% block body %}

<p class="text-center">Voici les profils qui correspondent votre recherche :</p>

    {% for user in users %}

        <ul>
            <li><a href="{{ path('tripsByUser', {'id' : user.id }) }}">{{ user.userName }}</a></li>
        </ul>
            
    {% endfor %}

{% endblock %}