@media screen and (max-width:980px) {
    .granted, .notGranted{
        height: 4vh!important;
        font-size: 26px;
      }
    header{
        border-bottom: none!important;
    }

    .trip{
        font-size: 26px!important;
    }
}